<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<body>
	

	<form action="login" method="post">
		{% csrf_token %}

		<h3>Login</h3>
		<input type="text" name="username" placeholder="Username"><br>
		<input type="password" name="password" placeholder="Password"><br> <br>	
		<input type="Submit"> <br>
		<p>If you have no account <a href = "account/register">Register</a></p>

	</form>

	<div>
		{% for message in messages %}
		<h3> {{message}} </h3>
		{% endfor %}
	</div>
	
</body>
</html>

